*{
    background-color:rgba(122,134,149,1) ;
   margin-left: 100px ;
   margin-right: 100px ;

}



.image{
    height: 100px;
    width: 100px;
    margin-top: 3rem;
}

.biography{
    margin-top: 15rem;
}

/* .a{
    display: flex;
    align-items:center;
}
.b
{
    display: flex;
    align-items:center;
} */

.heading{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 